<%- include('../partials/header') %>

<table id="Dance Team List">
  <thead>
    <tr>
      <th>School</th>
      <th>Conference</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% teamDocs.forEach(function(t) { %>
      <tr>
        <td><%= t.teamName %></td>
        <td><%= t.conference %></td>
        <td><a href="/teams/<%= t._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>