<%- include('../partials/header') %>

<section id="show-page">
    <div>School: </div>
    <div><%= team.teamName %></div><br>
    <div>Conference: </div>
    <div><%= team.conference %></div><br>
    <div>Section: </div>
    <div><%= team.section %></div><br>
    <div>Championship: </div>
    <div><%= team.championship %></div><br>
    <div>Scores: </div>
    <div><%= team.scores %></div><br>
</section>
  
<%- include('../partials/footer') %>