<%- include('../partials/header') %>

<div class="container mt-3 text-center rounded" style="background-color: #6a3d7d43;">
  <br>
  <h2>Performance List</h2>
  <p>You can choose from the below performances for additional details or add your own!</p>
  <p>Any performances you add will have the option to update, if needed.</p>
  <% if (user) {%>
    <a href="/performances/new" style="background-color: white;" class="btn rounded">Add Performance</a> 
  <% } %>
  <table class="table table-striped">
  <thead class="table-primary">
    <tr>
      <th><h4>School</h4></th>
      <th><h4>Style</h4></th>
      <th><h4>Song Choice</h4></th>
      <th><h4>Date</h4></th>
      <th><h4>Details</h4></th>
      <% if (user) { %>
      <th><h4>Updates</h4></th>
      <th><h4>Delete</h4></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <br><br>
    <% performanceDocs.forEach(function(p) { %>
    <tr>
      <!-- ===== checks to see what the team name is and if there is an image, prints the logo, otherwise just prints the team name ===== -->
      <% if (p.teamName === 'Buffalo') { %>
          <td><%= p.teamName %>&nbsp;<img src="https://i.imgur.com/adyunyp.jpg" style="width:25px; border-radius: 50%;" /> </td>
      <% } else if (p.teamName === 'Wayzata') {%>
          <td><%= p.teamName %>&nbsp;<img src="https://i.imgur.com/8Sp6WyN.png" style="width:25px; border-radius: 50%;" /> </td>
      <% } else if (p.teamName === 'St. Michael/Albertville') {%>
          <td><%= p.teamName %>&nbsp;<img src="https://i.imgur.com/uoM91YI.jpg" style="width:25px; border-radius: 50%;" /> </td>
      <% } else if (p.teamName === 'Minnetonka') {%>
          <td><%= p.teamName %>&nbsp;<img src="https://i.imgur.com/zXm2E9H.jpg" style="width:25px; border-radius: 50%;" /> </td>
      <% } else if (p.teamName === 'Edina') {%>
          <td><%= p.teamName %>&nbsp;<img src="https://i.imgur.com/Xjb8GPr.png" style="width:25px; border-radius: 50%;" /> </td>
      <% } else if (p.teamName === 'Eden Prairie') {%>
          <td><%= p.teamName %>&nbsp;<img src="https://i.imgur.com/gvnwqT9.png" style="width:25px; border-radius: 50%;" /> </td>
      <% } else if (p.teamName === 'Hopkins') {%>
          <td><%= p.teamName %>&nbsp;<img src="https://i.imgur.com/yaCfzbK.png" style="width:25px; border-radius: 50%;" /> </td>
      <% } else { %>
          <td><%= p.teamName %></div>
      <% } %>
        <td><%= p.style %></td>
        <td><%= p.song %></td>        

        <!-- ===== checks to see if date is expired and turns it red ===== -->
        <% if (p.performanceDate < new Date()) { %>
          <td style="color: red;"><%= p.performanceDate.toLocaleDateString() %></td>
        <% } else { %>
          <td><%= p.performanceDate.toLocaleDateString() %></td>
        <% } %>


        <!-- ===== adds button in the table to view details of each performance ===== -->
        <td><button type="button" class="btn btn-outline-info"><a href="/performances/<%= p._id %>">DETAILS</a></td></button>
      
      <!-- ===== if there is a user, creates another column in the table to allow updates to be made, button only shows if the user
                 added that performance ===== -->
      <% if (user) { %>
        <% if (user && user._id.equals(p.user)) { %>
          <td>
            <button type="button" class="btn btn-outline-warning"><a href="/performances/<%= p._id %>/edit" method="GET">UPDATE</a></button>
          </td>
        <!-- ***************************     -->
          <td>
            <form action="/performances/<%= p._id %>?_method=DELETE" method="POST">
              <button type="Submit" style="color: red; background-color: lightgray;" class="rounded">X</button>
            </form>
          </td>
        <!-- ***************************     -->
        <% } else { %>
          <td></td>
          <td></td>
        <% } %>
      <% } %>
    </tr>
    <% }); %>
  </tbody>
  </table>
<br>
</div>

<%- include('../partials/footer') %>