<%- include('../partials/header') %>

<div class="container mt-3 text-center rounded" style="background-color: #6a3d7d6f;">
  <br>
  <h2>Performance List</h2>
  <p>You can choose from the below performances for additional details.</p>
  <% if (user) {%>
  <a href="/performances/new">Add Performance</a> 
  <% } %>
  <table class="table table-striped">
  <thead class="table-primary">
    <tr>
      <th>School</th>
      <th>Style</th>
      <th>Song Choice</th>
      <th>Date</th>
      <th>Details</th>
      <% if (user) { %>
      <th>Updates</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% performanceDocs.forEach(function(p) { %>
    <tr>
        <td><%= p.teamName %></td>
        <td><%= p.style %></td>
        <td><%= p.song %></td>
        
        <td><%= p.performanceDate.toLocaleDateString() %></td>
        <td><button type="button" class="btn btn-outline-info"><a href="/performances/<%= p._id %>">DETAILS</a></td></button>
      <% if (user) { %>
        <td>
        <% if (user && user._id.equals(p.user)) { %>
            <button type="button" class="btn btn-outline-warning"><a href="/performances/<%= p._id %>/edit" method="GET">UPDATE</a></button>
        <% } %>
        </td>
      <% } %>
    </tr>
    <% }); %>
  </tbody>
  </table>
<br>
</div>

<%- include('../partials/footer') %>