<%- include('../partials/header') %>

<!-- This is our individual performances page showing additional detail and scores -->
<section id="show-page" style="background-color: #6a3d7d43; background-image: url(https://i.imgur.com/niH4tAG.png); background-repeat: no-repeat; background-position: center; background-blend-mode: darken;" class="rounded"><br>
    <div class="row">
        <div class="col">
            <div class="display-1"><%= performance.teamName %></div><br>
        </div>
        <!-- working to get images to show -->
        <div class="col"><br>
            <img src="images/<% performance.teamName %>.png" alt="School Logo" style="height: 10px">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Conference: </h5>
            <h3><%= performance.conference %></h3><br>
            <h5>Style: </h5>
            <h3><%= performance.style %></h3><br>
            <h5>Class: </h5>
            <h3><%= performance.class %></h3><br>
        </div>
        <div class="col">
            <h5>Performance Date: </h5>
            <h3><%= performance.performanceDate.toLocaleDateString() %></h3><br>
            <h5>Song: </h5>
            <h3><%= performance.song %></h3><br>
        </div>
    </div>
</section>


<% if (performance.scores.length) { %>
    <br>
    <h3>Fan Scores:</h3>
    <table class="table table-sm table-hover table-striped table-bordered table-responsive text-center">
        <thead class="table-primary">
            <tr>
            <th>Judge</th>
            <th>Date Scored</th>
            <th>Technique - Turns / Kicks</th>
            <th>Technique - Leaps & Jumps / Kick Height</th>
            <th>Creativity</th>
            <th>Visual Effectiveness</th>
            <th>Difficulty of Choreography</th>
            <th>Difficulty of Formations & Transitions</th>
            <th>Difficulty of Skills / Kicks</th>
            <th>Placement & Control</th>
            <th>Accuracy</th>
            <th>Routine Effectiveness</th>
            <th>Comments</th>
            <th>Total Score:</th>
            <% if (user) { %>
            <th>Delete Score?</th>
            <% } %>
            </tr>
        </thead>
        <tbody>
            <% performance.scores.forEach(function(s) { %>
            <% let totalScore = 0 %>
            <tr>
                <td class="performance-user"><img alt="avatar" src="<%= s.userAvatar %>" referrerpolicy="no-referrer" ><br><%= s.userName %></td>
                <td><%= s.createdAt.toLocaleDateString() %></td>
                <td><%= s.techniqueTurnKick %></td>
                <% totalScore = totalScore + s.techniqueTurnKick %>
                <td><%= s.techLeapJumpHeight %></td>
                <% totalScore = totalScore + s.techLeapJumpHeight %>
                <td><%= s.creativity %></td>
                <% totalScore = totalScore + s.creativity %>
                <td><%= s.visualEffectiveness %></td>
                <% totalScore = totalScore + s.visualEffectiveness %>
                <td><%= s.difficultyChoreo %></td>
                <% totalScore = totalScore + s.difficultyChoreo %>
                <td><%= s.difficultyFormTrans %></td>
                <% totalScore = totalScore + s.difficultyFormTrans %>
                <td><%= s.diffSkillsKicks %></td>
                <% totalScore = totalScore + s.diffSkillsKicks %>
                <td><%= s.placementControl %></td>
                <% totalScore = totalScore + s.placementControl %>
                <td><%= s.accuracy %></td>
                <% totalScore = totalScore + s.accuracy %>
                <td><%= s.routineEffectiveness %></td>
                <% totalScore = totalScore + s.routineEffectiveness %>
                <td><%= s.comments  %>
                <td><%= totalScore %></td>
                <% if (user) { %>
                <td>
                    <% if (user && user._id.equals(s.user)) { %>
                        <form action="/scores/<%= s._id %>?_method=DELETE" method="POST">
                            <button type="Submit" style="color: red">X</button>
                        </form>
                    <% } %>
                </td>
                <% } %>
                <!-- <td><a href="/performance/<%= s._id %>/scores" method="GET">DETAILS</a></td> -->
            </tr>

          <% }); %>
        </tbody>
    </table>
    </div>
<% } else { %>
    <h3> No Scores Yet! </h3>
<% } %>
<br><br>

<!-- This is the scoresheet allowing users to add scores to the team's performance -->
<div class="container mt-3 text-white text-center rounded" style="background-color: #6a3d7dbf">
    <br>
    <h3 id="scoresheet">ScoreSheet</h3>
    <% if (user) { %>
        <h5 class="text-black">Please enter a number between 1 & 10 for each category along with any comments you have for the performance!</h5> 
        <form id="add-scores-form" method="POST" action="/performances/<%= performance._id %>/scores">
            <div class="row">
                <div class="col">
            
                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="turn-kick" placeholder="Enter Score" name="techniqueTurnKick">
                        <label for="turn-kick">Technique of Turns/Kicks</label>
                    </div>
            
                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="leap-jump-height" placeholder="Enter Score" name="techLeapJumpHeight">
                        <label for="leap-jump-height">Technique of Leaps & Jumps / Kick Height</label>
                    </div>
            
                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="creativity" placeholder="Enter Score" name="creativity">
                        <label for="leap-jump-height">Creativity</label>
                    </div>
            
                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="visual-effect" placeholder="Enter Score" name="visualEffectiveness">
                        <label for="leap-jump-height">Visual Effectiveness</label>         
                    </div>
            
                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="choreo" placeholder="Enter Score" name="difficultyChoreo">
                        <label for="leap-jump-height">Difficulty of Choreography</label>         
                    </div>
                </div>
            
                <div class="col">
                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="diff-form-trans" placeholder="Enter Score" name="difficultyFormTrans">
                        <label for="leap-jump-height">Difficulty of Formations & Transitions</label>         
                    </div>
                
                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="diff-skills-kicks" placeholder="Enter Score" name="diffSkillsKicks">
                        <label for="leap-jump-height">Difficulty of Skills/Kicks</label>         
                    </div>
                
                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="placement-control" placeholder="Enter Score" name="placementControl">
                        <label for="leap-jump-height">Placement & Control</label>         
                    </div>

                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="accuracy" placeholder="Enter Score" name="accuracy">
                        <label for="leap-jump-height">Accuracy</label>         
                    </div>

                    <div class="form-floating mb-3 mt-3 text-black">
                        <input type="number" class="form-control" id="routine-effect" placeholder="Enter Score" name="routineEffectiveness">
                        <label for="leap-jump-height">Routine Effectiveness</label>         
                    </div>
                </div>
            </div>
           
            <div class="form-floating mb-3 mt-3 w-50 text-black">
                <input type="text" class="form-control" id="comments" placeholder="Enter Comments" name="comments">
                <label for="comment">Comments</label>         
            </div>
            
            <button type="submit" class="rounded">Add Scores</button>
        
        </form>
    <% } else { %>
        <h4>You need to be logged in to enter scores!</h4>
    <% } %>
    <br>
</div>
<br><br>

<%- include('../partials/footer') %>