<%- include('../partials/header') %>

<section id="show-page">
    <div>School: </div>
    <div><%= performance.teamName %></div><br>
    <div>Conference: </div>
    <div><%= performance.conference %></div><br>
    <div>Style: </div>
    <div><%= performance.style %></div><br>
    <div>Class: </div>
    <div><%= performance.section %></div><br>
    <div>Performance Date: </div>
    <div><%= performance.performanceDate %></div><br>
    <div>Song: </div>
    <div><%= performance.song %></div><br>
</section>
  
<br><br><br>
<h3>ScoreSheet - please enter a number between 1 & 10</h3>
<form id="add-scores-form" method="POST" action="/performances/<%= performance._id %>/scores">
    <label>Technique of Turns/Kicks:</label>
        <input type="number" name="techniqueTurnKick">
    <br>
    <label>Technique of Leaps & Jumps / Kick Height:</label>
        <input type="number" name="techLeapJumpHeight">
    <br>
    <label>Creativity:</label>
        <input type="number" name="creativity">
    <br>
    <label>Visual Effectiveness:</label>
        <input type="number" name="visualEffectiveness">
    <br>
    <label>Difficulty of Choreography:</label>
        <input type="number" name="difficultyChoreo">
    <br>
    <label>Difficulty of Formations & Transitions:</label>
        <input type="number" name="difficultyFormTrans">
    <br>
    <label>Difficulty of Skills/Kicks:</label>
        <input type="number" name="diffSkillsKicks">
    <br>
    <label>Placement & Control:</label>
        <input type="number" name="placementControl">
    <br>
    <label>Accuracy:</label>
        <input type="number" name="accuracy">
    <br>
    <label>Routine Effectiveness:</label>
        <input type="number" name="routineEffectiveness">
    <br>
    <label>Comments: </label>
        <input type="text" name="comments">
    <br>
    <button type="submit">Add Scores</button>
</form>


<% if (performance.scores.length) {%>
    <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Technique - Turns / Kicks</th>
            <th>Technique - Leaps & Jumps / Kick Height</th>
            <th>Creativity</th>
            <th>Visual Effectiveness</th>
            <th>Difficulty of Choreography</th>
            <th>Difficulty of Formations & Transitions</th>
            <th>Difficulty of Skills / Kicks</th>
            <th>Placement & Control</th>
            <th>Accuracy</th>
            <th>Routine Effectiveness</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
          <% performance.scores.forEach(function(s) { %>

            <tr>
                <td class="review-user"><img alt="avatar" src="<%= s.userAvatar %>" referrerpolicy="no-referrer" ><%= s.userName %></td>
                <td><%= s.techniqueTurnKick %></td>
                <td><%= s.techLeapJumpHeight %></td>
                <td><%= s.creativity %></td>
                <td><%= s.visualEffectiveness %></td>
                <td><%= s.difficultyChoreo %></td>
                <td><%= s.difficultyFormTrans %></td>
                <td><%= s.diffSkillsKicks %></td>
                <td><%= s.placementControl %></td>
                <td><%= s.accuracy %></td>
                <td><%= s.routineEffectiveness %></td>
                <td>
                    <% if (user && user._id.equals(s.user)) { %>
                        <form action="/scores/<%= s._id %>?_method=DELETE" method="POST">
                          <button type="Submit">X</button>
                        </form>
                      <% } %>
                </td>
            </tr>

          <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h3> No Scores Yet! </h3>
<% } %>

<%- include('../partials/footer') %>