<%- include('../partials/header') %>

<!-- ******************** INDIVIDUAL TEAM PERFORMANCE ******************** -->
<section id="show-page" style="background-color: #6a3d7d43; background-image: url(https://i.imgur.com/niH4tAG.png); background-repeat: no-repeat; background-position: center; background-blend-mode: darken;" class="rounded"><br>
        <!-- ===== Checking to see if we have a logo for the school to print ===== -->
        <% if (performance.teamName === 'Buffalo') { %>
            <div class="display-1"><%= performance.teamName %>&nbsp;<img src="https://i.imgur.com/adyunyp.jpg" style="width:100px; border-radius: 50%;" /> </div><br>
            <br>
        <% } else if (performance.teamName === 'Wayzata') {%>
            <div class="display-1"><%= performance.teamName %>&nbsp;<img src="https://i.imgur.com/8Sp6WyN.png" style="width:100px; border-radius: 50%;" /> </div><br>
            <br>
        <% } else if (performance.teamName === 'St. Michael/Albertville') {%>
            <div class="display-1"><%= performance.teamName %>&nbsp;<img src="https://i.imgur.com/uoM91YI.jpg" style="width:100px; border-radius: 50%;" /> </div><br>
            <br>
        <% } else if (performance.teamName === 'Minnetonka') {%>
            <div class="display-1"><%= performance.teamName %>&nbsp;<img src="https://i.imgur.com/zXm2E9H.jpg" style="width:100px; border-radius: 50%;" /> </div><br>
            <br>
        <% } else if (performance.teamName === 'Edina') {%>
            <div class="display-1"><%= performance.teamName %>&nbsp;<img src="https://i.imgur.com/Xjb8GPr.png" style="width:100px; border-radius: 50%;" /> </div><br>
            <br>
        <% } else if (performance.teamName === 'Eden Prairie') {%>
            <div class="display-1"><%= performance.teamName %>&nbsp;<img src="https://i.imgur.com/gvnwqT9.png" style="width:100px; border-radius: 50%;" /> </div><br>
            <br>
        <% } else if (performance.teamName === 'Hopkins') {%>
            <div class="display-1"><%= performance.teamName %>&nbsp;<img src="https://i.imgur.com/yaCfzbK.png" style="width:100px; border-radius: 50%;" /> </div><br>
            <br>
        <!-- ===== if not - just prints the team name ===== -->
        <% } else { %>
            <div class="display-1"><%= performance.teamName %></div><br>
            <br>
        <% } %>
    <div class="row">
        <div class="col">
            <h5>Conference: </h5>
            <h3><%= performance.conference %></h3><br>
            <h5>Style: </h5>
            <h3><%= performance.style %></h3><br>
            <h5>Class: </h5>
            <h3><%= performance.class %></h3><br>
        </div>
        <div class="col">
            <h5>Performance Date: </h5>
            <h3><%= performance.performanceDate.toLocaleDateString() %></h3><br>
            <h5>Song: </h5>
            <h3><%= performance.song %></h3><br>
        </div>
    </div>
</section>
<br>


<!-- ******************** SCORES TABLE ******************** -->
<% if (performance.performanceDate < new Date()) { %>
    <% if (performance.scores.length) { %>
        <br>
        <!-- ===== Scores table header ===== -->
        <h3>Fan Scores:</h3>
        <table class="table table-sm table-hover table-striped table-bordered table-responsive text-center">
            <thead class="table-primary">
                <tr>
                    <th>Judge</th>
                    <th>Date Scored</th>
                    <th>Technique - Turns / Kicks</th>
                    <th>Technique - Leaps & Jumps / Kick Height</th>
                    <th>Creativity</th>
                    <th>Visual Effectiveness</th>
                    <th>Difficulty of Choreography</th>
                    <th>Difficulty of Formations & Transitions</th>
                    <th>Difficulty of Skills / Kicks</th>
                    <th>Placement & Control</th>
                    <th>Accuracy</th>
                    <th>Routine Effectiveness</th>
                    <th>Comments</th>
                    <th>Total Score:</th>
                    <% if (user) { %>
                        <th>Delete Score?</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
            <% performance.scores.forEach(function(s) { %>
                <% let totalScore = 0 %>
                <tr>
                <!-- ===== scores info from database ===== -->
                <td class="performance-user"><img alt="avatar" src="<%= s.userAvatar %>" style="border-radius: 50%" referrerpolicy="no-referrer" ><br><%= s.userName %></td>
                <td><%= s.createdAt.toLocaleDateString() %></td>
                
                <td><%= s.techniqueTurnKick %></td>
                <% totalScore = totalScore + s.techniqueTurnKick %>
                
                <td><%= s.techLeapJumpHeight %></td>
                <% totalScore = totalScore + s.techLeapJumpHeight %>
                
                <td><%= s.creativity %></td>
                <% totalScore = totalScore + s.creativity %>
                
                <td><%= s.visualEffectiveness %></td>
                <% totalScore = totalScore + s.visualEffectiveness %>
                
                <td><%= s.difficultyChoreo %></td>
                <% totalScore = totalScore + s.difficultyChoreo %>
                
                <td><%= s.difficultyFormTrans %></td>
                <% totalScore = totalScore + s.difficultyFormTrans %>
                
                <td><%= s.diffSkillsKicks %></td>
                <% totalScore = totalScore + s.diffSkillsKicks %>
                
                <td><%= s.placementControl %></td>
                <% totalScore = totalScore + s.placementControl %>
                
                <td><%= s.accuracy %></td>
                <% totalScore = totalScore + s.accuracy %>
                
                <td><%= s.routineEffectiveness %></td>
                <% totalScore = totalScore + s.routineEffectiveness %>
                
                <td><%= s.comments  %>
                <td><%= totalScore %></td>
                
                <% if (user) { %>
                    <td>
                    <!-- ===== if a user is logged in - this checks to see if it's the same user that added scores and
                            gives the user the ability to delete them ===== -->
                    <% if (user && user._id.equals(s.user)) { %>
                        <form action="/scores/<%= s._id %>?_method=DELETE" method="POST">
                            <button type="Submit" style="color: red; background-color: lightgray;" class="rounded">X</button>
                        </form>
                    <% } %>
                    </td>
                <% } %>
                </tr>
            <% }); %>
            </tbody>
        </table>
        </div>
    <% } else { %>
        <br>
        <h3> No Scores Yet! </h3>
    <% } %>
<br><br>
<% } %>

<!-- ******************** SCORESHEET ******************** -->
<div class="container mt-3 text-white text-center rounded" style="background-color: #6a3d7dbf">
    <% if (performance.performanceDate < new Date()) { %>
    
    <% if (user) { %>
        <!-- ===== Checking to see if the user already entered a score so that duplicate scores are not allowed for the same performance ==== -->
        <% let alreadyScored = false %>
        <% performance.scores.forEach(function(s) { %>
            <% if (user && user._id.equals(s.user)) { %>
                <% alreadyScored = true %>
            <% } %>
        <% }) %>
        <% if (!alreadyScored) { %>
            <br><h3 id="scoresheet">ScoreSheet</h3>
            <h5 class="text-black">Please enter a number between 1 & 10 for each category along with any comments you have for the performance!</h5> 
            <form id="add-scores-form" method="POST" action="/performances/<%= performance._id %>/scores">
                
                <div class="row">

                    <!-- ===== first 5 scores ===== -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="turn-kick" placeholder="Enter Score" name="techniqueTurnKick">
                            <label for="turn-kick">Technique of Turns/Kicks</label>
                        </div>
                
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="leap-jump-height" placeholder="Enter Score" name="techLeapJumpHeight">
                            <label for="leap-jump-height">Technique of Leaps & Jumps / Kick Height</label>
                        </div>
                
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="creativity" placeholder="Enter Score" name="creativity">
                            <label for="leap-jump-height">Creativity</label>
                        </div>
                
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="visual-effect" placeholder="Enter Score" name="visualEffectiveness">
                            <label for="leap-jump-height">Visual Effectiveness</label>         
                        </div>
                
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="choreo" placeholder="Enter Score" name="difficultyChoreo">
                            <label for="leap-jump-height">Difficulty of Choreography</label>         
                        </div>
                    </div>
                
                    <!-- ===== 2nd 5 scores ===== -->
                    <div class="col">
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="diff-form-trans" placeholder="Enter Score" name="difficultyFormTrans">
                            <label for="leap-jump-height">Difficulty of Formations & Transitions</label>         
                        </div>
                    
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="diff-skills-kicks" placeholder="Enter Score" name="diffSkillsKicks">
                            <label for="leap-jump-height">Difficulty of Skills/Kicks</label>         
                        </div>
                    
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="placement-control" placeholder="Enter Score" name="placementControl">
                            <label for="leap-jump-height">Placement & Control</label>         
                        </div>
    
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="accuracy" placeholder="Enter Score" name="accuracy">
                            <label for="leap-jump-height">Accuracy</label>         
                        </div>
    
                        <div class="form-floating mb-3 mt-3 text-black">
                            <input type="number" class="form-control" id="routine-effect" placeholder="Enter Score" name="routineEffectiveness">
                            <label for="leap-jump-height">Routine Effectiveness</label>         
                        </div>
                    </div>
                </div>
                
                <!-- ===== comments section ===== -->
                <div class="form-floating mb-3 mt-3 w-50 text-black">
                    <input type="text" class="form-control" id="comments" placeholder="Enter Comments" name="comments">
                    <label for="comment">Comments</label>         
                </div>

                <!-- ===== submit button ===== -->
                <button type="submit" class="btn rounded"style="background-color: white;">Add Scores</button>
            </form>
            
        <% } else { %> 
            
            <% let nameArr = user.name.split(' ') %>
            <% let firstName = nameArr[0] %>

            <br><h3>Hey <%= firstName %>, you've already entered a score for this performance!  Thank you!</h3>
        <% } %>
    <% } else { %>
        <br><h4>Hi! You need to be logged in to enter scores!</h4>
        <a href="/auth/google" class="login" style="padding-left: 30px"> Login&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" style="width: 20px"/> </a><br>
    <% } %>
    <% } else { %>
        <br>
        <h3>This performance is scheduled for <%= performance.performanceDate.toLocaleDateString() %>.</h3>  
        <h3>Please come back to view and enter scores after watching! Thank you!</h3>
    <% } %>
    <br>
</div>
<br><br>

<%- include('../partials/footer') %>