<%- include('../partials/header') %>

<section id="show-page">
    <div>School: </div>
    <div><%= performance.teamName %></div><br>
    <div>Conference: </div>
    <div><%= performance.conference %></div><br>
    <div>Style: </div>
    <div><%= performance.style %></div><br>
    <div>Class: </div>
    <div><%= performance.section %></div><br>
    <div>Performance Date: </div>
    <div><%= performance.performanceDate %></div><br>
    <div>Song: </div>
    <div><%= performance.song %></div><br>
</section>
  
<br><br><br>
<h3>ScoreSheet - please enter a number between 1 & 10</h3>
<form id="add-scores-form" method="POST" action="/performances/<%= performance._id %>/scores">
    <label>Technique of Turns/Kicks:</label>
        <input type="number" name="techniqueTurnKick">
    <br>
    <label>Technique of Leaps & Jumps / Kick Height:</label>
        <input type="number" name="techLeapJumpHeight">
    <br>
    <label>Creativity:</label>
        <input type="number" name="creativity">
    <br>
    <label>Visual Effectiveness:</label>
        <input type="number" name="visualEffectiveness">
    <br>
    <label>Difficulty of Choreography:</label>
        <input type="number" name="difficultyChoreo">
    <br>
    <label>Difficulty of Formations & Transitions:</label>
        <input type="number" name="difficultyFormTrans">
    <br>
    <label>Difficulty of Skills/Kicks:</label>
        <input type="number" name="diffSkillsKicks">
    <br>
    <label>Placement & Control:</label>
        <input type="number" name="placementControl">
    <br>
    <label>Accuracy:</label>
        <input type="number" name="accuracy">
    <br>
    <label>Routine Effectiveness:</label>
        <input type="number" name="routineEffectiveness">
    <br>
    <label>Comments: </label>
        <input type="text" name="comments">
    <br>
    <button type="submit">Add Scores</button>
</form>

<%- include('../partials/footer') %>